Repository vjelic/DeepSpeed-glog-fork, changes with the owners that CODEOWNERS names for each.
All owners: @loadams, @guanhuawang, @tjruwase, @jomayeri, @tohtana, @hwchen2017

CODEOWNERS:

# This file is used to subscribe for notifications for PRs
# related to specific file paths, does not necessarily mean
# approval is required from these people before merging.
#
# Learn more about CODEOWNERS syntax here:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# top-level repo folders
/.github/ @loadams
/azure/ @loadams
/benchmarks/ @guanhuawang @tjruwase
/bin/ @loadams
/csrc/ @tjruwase
/deepspeed/ @loadams @tjruwase
/docker/ @loadams @guanhuawang
/docs/ @loadams @tjruwase
/examples/ @jomayeri @tohtana
/op_builder/ @loadams @tjruwase @jomayeri
/release/ @loadams @jomayeri
/requirements/ @loadams
/scripts/ @loadams @tjruwase
/tests/ @tjruwase @loadams @tohtana

# deepspeed
/deepspeed/autotuning/ @loadams
/deepspeed/checkpoint/ @tjruwase
/deepspeed/comm/ @guanhuawang
/deepspeed/compression/ @tjruwase
/deepspeed/elasticity/ @tjruwase
/deepspeed/launcher/ @loadams
/deepspeed/module_inject/ @hwchen2017 @loadams
/deepspeed/moe/ @tohtana
/deepspeed/monitor/ @tjruwase
/deepspeed/nebula/ @tjruwase
/deepspeed/nvme/ @tjruwase @jomayeri
/deepspeed/ops/ @tohtana
/deepspeed/pipe/ @tohtana @loadams
/deepspeed/profiling/ @loadams
/deepspeed/sequence/ @tohtana
/deepspeed/utils/ @tjruwase @tohtana

# inference
/deepspeed/inference/ @hwchen2017 @tohtana
/deepspeed/model_implementations/@tohtana @loadams

# training
/deepspeed/runtime/ @tjruwase @tohtana
/deepspeed/runtime/activation_checkpointing/ @tjruwase
/deepspeed/runtime/checkpoint_engine/ @tjruwase
/deepspeed/runtime/comm/ @guanhuawang
/deepspeed/runtime/compression/ @tjruwase
/deepspeed/runtime/data_pipeline/ @tjruwase
/deepspeed/runtime/domino/ @guanhuawang @hwchen2017
/deepspeed/runtime/fp16/ @tjruwase @tohtana
/deepspeed/runtime/fp16/onebit/ @tjruwase
/deepspeed/runtime/pipe/ @loadams @tohtana
/deepspeed/runtime/swap_tensor/ @tjruwase @jomayeri
/deepspeed/runtime/zero/ @tjruwase @tohtana

Fetch rocm version from .info/version file (#74)
  op_builder/builder.py
Owners: @loadams, @tjruwase, @jomayeri

Remove old workflow file .github/workflows/amd-mi200.yml
  .github/workflows/amd-mi200.yml
Owners: @loadams

Remove old workflow file .github/workflows/cpu-inference.yml
  .github/workflows/cpu-inference.yml
Owners: @loadams

Remove old workflow file .github/workflows/cpu-torch-latest.yml
  .github/workflows/cpu-torch-latest.yml
Owners: @loadams

Remove old workflow file .github/workflows/formatting.yml
  .github/workflows/formatting.yml
Owners: @loadams

Remove old workflow file .github/workflows/hpu-gaudi2.yml
  .github/workflows/hpu-gaudi2.yml
Owners: @loadams

Remove old workflow file .github/workflows/no-torch.yml
  .github/workflows/no-torch.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-a6000.yml
  .github/workflows/nv-a6000.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-accelerate-v100.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-ds-chat.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-h100.yml
  .github/workflows/nv-h100.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-human-eval.yml
  .github/workflows/nv-human-eval.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-inference.yml
  .github/workflows/nv-inference.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-lightning-v100.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-mii.yml
  .github/workflows/nv-mii.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-nightly.yml
  .github/workflows/nv-nightly.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/nv-pre-compile-ops.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-sd.yml
  .github/workflows/nv-sd.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-latest-v100.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-p40.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-torch110-v100.yml
  .github/workflows/nv-torch110-v100.yml
Owners: @loadams

Remove old workflow file .github/workflows/nv-transformers-v100.yml
  .github/workflows/nv-transformers-v100.yml
Owners: @loadams

Remove old workflow file .github/workflows/python.yml
  .github/workflows/python.yml
Owners: @loadams

Remove old workflow file .github/workflows/release.yml
  .github/workflows/release.yml
Owners: @loadams

Remove old workflow file .github/workflows/xpu-compile.yml
  .github/workflows/xpu-compile.yml
Owners: @loadams

Remove old workflow file .github/workflows/xpu-max1100.yml
  .github/workflows/xpu-max1100.yml
Owners: @loadams

Add or update workflow .github/workflows/glog.yml
  .github/workflows/glog.yml
Owners: @loadams

[2025-08-07 14:07:14] Glog.AI assessment
  .glog/glog-scan.sarif
Owners: none
